
#form-sesion{
    text-align: center;
    float:center;
    background-color: bisque;
    width: 40%;
    padding: 3%;
    display:block;
    text-align: left;
}
#form-sesion button{
    width:50%;
    text-align: center;
   margin-top: 3%;

}
#form-sesion a{
    display: block;
}

#form-suscribete {
    width: 40%;
    padding: 3%;
    display:block;
}
#form-suscribete label{
   font-weight: bolder;
}
#form-suscribete input{
    margin-bottom: 3%;
}